@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
	--font-bebas: "Bebas Neue", sans-serif;
	--font-poppins: "Poppins", sans-serif;
	--diameter: 1432px;
}

.hero-slider .hero-slide-lists .hero-slide .slide-content {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	max-width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 400px);
	text-align: left;
	gap: 80px;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: Poppins;
	text-shadow: 0 0 80px #000;
}
.hero-slider .hero-slide-lists .hero-slide .slide-content h2 {
	font-size: 10em;
	font-family: "Bebas Neue", sans-serif;
	line-height: 0.9em;
	transform: translateY(-100%);
	transition: transform 1s;
	grid-row-start: 1;
	grid-row-end: 3;
}

.hero-slider .hero-slide-lists .hero-slide .slide-content p:last-child {
	display: flex;
	justify-content: start;
	align-items: end;
	padding-bottom: 25px;
}

/* item default */

.hero-slider .hero-slide-lists .hero-slide .slider-image::before,
.hero-slider .hero-slide-lists .hero-slide .slider-image::after {
	position: absolute;
	width: 70%;
	height: 70%;
	content: "";
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-120deg);
	background-image: linear-gradient(to right, #0004, #0004), var(--url);
	background-size: var(--diameter) var(--diameter);
	background-position: center;
	transition: 1s;
}
.hero-slider .hero-slide-lists .hero-slide .slider-image::after {
	width: 30%;
	height: 30%;
	background-image: var(--url);
	border: 3px solid #fff2;
	transform: translate(-50%, -50%) rotate(-170deg);
}

/* Active Hero Slide  */
.hero-slider .hero-slide-lists .hero-slide.active {
	pointer-events: auto;
	opacity: 1;
}
.hero-slider .hero-slide.active .slider-image {
	filter: blur(0px);
	transform: rotate(0deg);
}
.hero-slider .hero-slide.active .slider-image::before,
.hero-slider .hero-slide.active .slider-image::after {
	transform: translate(-50%, -50%) rotate(0deg);
}
.hero-slider .hero-slide-lists .hero-slide.active .slide-content h2 {
	transform: translateY(0);
}
.hero-slider .hero-slide-lists .hero-slide.active ~ .hero-slide {
	opacity: 0;
}
.hero-slider .hero-slide.active ~ .hero-slide .slider-image {
	transform: rotate(60deg);
}
.hero-slider .hero-slide.active ~ .hero-slide .slider-image::before {
	transform: translate(-50%, -50%) rotate(120deg);
}
.hero-slider .hero-slide.active ~ .hero-slide .slider-image::after {
	transform: translate(-50%, -50%) rotate(170deg);
}
.hero-slider
	.hero-slide-lists
	.hero-slide.active
	~ .hero-slide
	.slide-content
	h2 {
	transform: translateY(100%);
}
.hero-slider .hero-slide-lists::after {
	position: absolute;
	content: "";
	bottom: 0;
	width: min(1000px, 100vw);
	height: 70%;
	left: 50%;
	transform: translateX(-50%);
	background-image: url(../images/home-slider-model.png);
	background-size: cover;
	background-position: top;
	pointer-events: none;
	animation: showModel 1s ease-in-out 1 forwards;
}
@keyframes showModel {
	from {
		transform: translateX(-50%) scale(1.3) translateY(88px);
	}
}
.hero-slider-nav button.disabled {
	opacity: 0;
	pointer-events: none;
}

@media all and (max-width: 1024px) {
	.hero-slider .hero-slide-lists .hero-slide .slide-content {
		grid-template-columns: repeat(2, 300px);
	}
	.hero-slider .hero-slide-lists .hero-slide .slide-content h2 {
		font-size: 8em;
	}
}
@media all and (max-width: 767px) {
	.hero-slider .hero-slide-lists .hero-slide .slide-content {
		grid-template-columns: 80%;
		justify-content: center;
		gap: 20px;
		top: 70px;
	}
	.hero-slider .hero-slide-lists .hero-slide .slide-content h2 {
		font-size: 4em;
	}
	.hero-slider .hero-slide-lists .hero-slide .slide-content p {
		font-size: small;
	}
}
